body{
  margin: 0;
  padding: 0;
}
.containerup {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(red, blue);
  // background-color: yellow;
  // color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

.containerdown {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(red, blue);
  // background-color: black;
  // color: yellow;
  overflow-y: hidden;
  overflow-x: hidden;
}

.up-text, .down-text {
  display: inline-block;
  font-size: 250px;
  margin: 15px;
  a {
    text-decoration: none;
    color: $gray-darker;
    &:hover {
      text-decoration: none;
    }
  }
}

.hideme {
  // position: absolute;
  // top: 0;
  // left: 0;
}
