body{
  margin: 0;
  padding: 0;
}
.containerup {
  width: 200vw;
  height: 50vh;
  background: linear-gradient(red, blue);
  // background-color: yellow;
  // color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

.containerdown {
  width: 200vw;
  height: 50vh;
  background: linear-gradient(red, blue);
  // background-color: black;
  // color: yellow;
  overflow-y: hidden;
  overflow-x: hidden;
}

.up-text, .down-text {
  display: inline-block;
  font-size: 250px;
  margin: 15px;
  a {
    text-decoration: none;
    color: $gray-darker;
    &:hover {
      text-decoration: none;
    }
  }
}

.out {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  // z-index: 2;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.hideme {
  // position: absolute;
  // top: 0;
  // left: 0;
}
