.down {
  height: 400px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(red, blue);
  a {
    font-size: 250px;
    color: black;
    text-decoration: none;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}
.down a {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 font-size: 250px;
 line-height: auto;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(0);
 -webkit-transform:translateY(0);
 transform:translateY(0);
 /* Apply animation to this element */
 -moz-animation: down 10s linear infinite;
 -webkit-animation: down 10s linear infinite;
 animation: down 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes down {
 0%   { -moz-transform: translateY(-100%); }
 100% { -moz-transform: translateY(0); }
}
@-webkit-keyframes down {
 0%   { -webkit-transform: translateY(-100%); }
 100% { -webkit-transform: translateY(0); }
}
@keyframes down {
 0%   {
 -moz-transform: translateY(-100%); /* Firefox bug fix */
 -webkit-transform: translateY(-100%); /* Firefox bug fix */
 transform: translateY(-100%);
}
100% {
 -moz-transform: translateY(0); /* Firefox bug fix */
 -webkit-transform: translateY(0); /* Firefox bug fix */
 transform: translateY(0);
}
}
.down a:hover {
 -moz-animation-play-state: paused;
 -webkit-animation-play-state: paused;
 animation-play-state: paused;
}
