<!-- <div class="button">
<a href="http://192.168.1.83/up"><img src="images/up.svg" alt="up"></a>
<a href="http://192.168.1.83/down"><img src="images/down.svg" alt="down"></a>
</div> -->
<!-- <div class="up">
  <a href="http://192.168.1.83/up">
    <marquee  BGCOLOR=YELLOW WIDTH=100% HEIGHT=AUTO>UP UP UP
    </marquee>
  </a>
</div>

<div class="down">
  <a href="http://192.168.1.83/down">
  <marquee  BGCOLOR=black WIDTH=100% HEIGHT=AUTO>DOWN DOWN DOWN
    </marquee>
  </a>
</div> -->


<div class="up">
  <a width="200%" height="auto" href="http://192.168.1.83/up">
    <% 20.times do %>
    UP
    <% end %>
  </a>
</div>
<div class="down">
  <a width="200%" height="auto" href="http://192.168.1.83/down">
    <% 20.times do %>
    DOWN
    <% end %>
  </a>
</div>
